<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258648234105-k0sdr4pfev21ri6jt1n12eb5a62vppej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258648234105-k0sdr4pfev21ri6jt1n12eb5a62vppej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258648234105-srjjrt92vakkamt8p49mru4g4lhm3khb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4wNYwCFdOgJfanEZi-ZBBjdh89prhY7k</string>
	<key>GCM_SENDER_ID</key>
	<string>258648234105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thevan.reactnativenotification</string>
	<key>PROJECT_ID</key>
	<string>reactnativetraining-68c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativetraining-68c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258648234105:ios:268d23181e3cebe9031ca8</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativetraining-68c5d.firebaseio.com</string>
</dict>
</plist>